<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 멤버 리스트 페이징 처리 -->
<h2>Member List</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="member : ${memberList}">
    <td th:text="${member.id}"></td>
    <td th:text="${member.name}"></td>
    <td th:text="${member.email}"></td>
    <td th:text="${member.age}"></td>
  </tr>
  </tbody>
</table>
<div th:replace="/fragments/pagination :: pagination(${memberList})"></div>

<!-- 게시물 리스트 페이징 처리 -->
<h2>Board List</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boardList}">
    <td th:text="${board.id}"></td>
    <td th:text="${board.title}"></td>
    <td th:text="${board.author}"></td>
    <td th:text="${board.content}"></td>
  </tr>
  </tbody>
</table>
<div th:replace="fragments/pagination :: pagination(${boardList})"></div>

<!-- 댓글 리스트 페이징 처리 -->
<h2>Comment List</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Author</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="comment : ${commentList}">
    <td th:text="${comment.id}"></td>
    <td th:text="${comment.content}"></td>
    <td th:text="${comment.author}"></td>
  </tr>
  </tbody>
</table>
<div th:replace="fragments/pagination :: pagination(${commentList})"></div>

<!-- 메시지 리스트 페이징 처리 -->
<h2>Message List</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Sender</th>
    <th>Receiver</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="message : ${messageList}">
    <td th:text="${message.id}"></td>
    <td th:text="${message.content}"></td>
    <td th:text="${message.sender.name}"></td>
    <td th:text="${message.receiver.name}"></td>
  </tr>
  </tbody>
</table>
<div th:replace="fragments/pagination :: pagination(${messageList})"></div>
</body>
</html>