<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/communitylist.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script th:src="@{/js/jquery/jquery.min.js}"></script>

</head>

<body>
    <!-- [header] 영역 시작 -->
		<header th:replace="fragments/header :: headerFragment"></header>
	<!-- [header] 영역 끝 -->
    <div class="content">
        <div class="content-body">
            <div class="today-content">
                <div class="today-box">
                    <div class="box-title">
                        <h3>Top Writers</h3>
                    </div>
                    <div class="box-content">
                        <div class="userimg"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                        <div class="username">user1</div>
                        <div class="hits">132회</div>
                    </div>
                    <div class="box-content">
                        <div class="userimg"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                        <div class="username">user2</div>
                        <div class="hits">122회</div>
                    </div>
                    <div class="box-content">
                        <div class="userimg"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                        <div class="username">user3</div>
                        <div class="hits">112회</div>
                    </div>
                    <div class="box-content">
                        <div class="userimg"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                        <div class="username">user4</div>
                        <div class="hits">72회</div>
                    </div>
                    <div class="box-content">
                        <div class="userimg"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                        <div class="username">user5</div>
                        <div class="hits">52회</div>
                    </div>
                </div>
            </div>
            <div class="main-content">
            
            	<!-- 게시판 상단 -->
                <div class="content-header">
                    <h1>커뮤니티</h1>
                    <p>좋은 질문과 답변으로 동료의 시간을 아껴주세요</p>
                </div>
                <div class="content-middle">
                    <div class="content-button">
                        <button onclick="location.href='/hello/communityregister' ">작성하기</button>
                    </div>
                    <div class="content-search">
                    
						<!-- 검색 -->
		              <div class="">
		                <form id="searchForm" action="/hello/communitylist" method="get">
		                  <select name="type">
		                    <option value="" 
		                    	th:selected="${pageRequestDTO.type==null}"
		                    		>-----</option>
		                    <option value="t" 
		                      	th:selected="${pageRequestDTO.type=='t'}"
		                      		>제목</option>
		                    <option value="c"
		                     	th:selected="${pageRequestDTO.type=='c'}"
		                     		>내용</option>
		                    <option value="w"
		                      	th:selected="${pageRequestDTO.type=='w'}"
		                       		>작성자</option>
		                    <option value="o"
		                      	th:selected="${pageRequestDTO.type=='o'}"
		                       		>카테고리</option>
		                    <option value="tc"
		                      th:selected="${pageRequestDTO.type=='tc'}"
		                       		>제목 or 내용</option>
		                    <option value="tw"
		                      th:selected="${pageRequestDTO.type=='tw'}"
		                       		>제목 or 작성자</option>
		                    <option value="TCW"
		                      th:selected="${pageRequestDTO.type=='tcw'}"
		                       		>제목 or 내용 or 작성자</option>
		                  </select>
		                  <input type="text" name="keyword" th:value="${pageRequestDTO.keyword}">
			              <button type="button" class="btn btn-search">검색</button>
			              <button type="button" class="btn btn-clear">취소</button>
			              <p>
		                </form>
		              </div>
                    </div>
                </div>
            	<!-- end 게시판 상단 -->
                
                
                <!-- 게시판 list -->
                <div class="content-table">
                
                    <div th:each="dto : ${result.dtoList}" class="content-box">
                        <div class="box-top">
                        	<!-- 유저이미지 -->
                            <div class="userimg"><img src="/img/userimg.png" alt="" width="20px" height="20px"></div>
                            <!-- 유저id -->
                            <div class="username">[[${dto.nickname}]] <small> [[${dto.id}]]</small></div>
                            <!-- 조회수 -->
                            <div class="hits">[[${dto.views}]] 회</div>
                            <!-- 등록일 -->
                            <input type="hidden" class="content-time" th:value="${#temporals.format(dto.regdate, 'yyyy/MM/dd')}">
                            <div class="updateDate">[[${#temporals.format(dto.regdate, 'yyyy/MM/dd')}]]</div>
                        </div>
                        <div class="box-middle">
                        	<!-- title -->
                            <div class="content-title">
                               <a th:href="@{/hello/communityread(boardNum=${dto.boardNum},
                               page=${result.page},
                               type=${pageRequestDTO.type},
							   keyword=${pageRequestDTO.keyword},
							   memberNum=${member.memberNum}
                               )}">[[${dto.title}]]</a>
                            </div>
                        </div>
                        <div class="box-bottom">
                        	<!-- 카테고리 -->
                            <div class="category">카테고리</div>
                            <div class="category-box">#[[${dto.tag}]]</div>
                            <div class="box-right1">
                            <!-- 추천수 -->
                            <div><img src="/img/like.png" alt="" width="20px"></div>
                                <div class="box">[[${dto.blikes}]]</div>
                            <!-- 댓글수 -->
                            <div class="box"><img src="/img/message.png" alt="" width="25px"></div>
                                <div class="box">[[${dto.cnt}]]</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            	<!-- end 게시판 list -->
                        
                        
                        
                        
                    </div>
                </div>
            
            

		<div class="page_wrap">
		<ul class=" page_nation">
			<li class="arrow prev" th:if="${result.prev}">
				<a class="page-link" 
					th:href="@{/hello/communitylist(page=${result.start-1},
									type=${pageRequestDTO.type},
									keyword=${pageRequestDTO.keyword}
					)}" tabindex="-1">이전</a>
			</li>
			<li th:class="'page-item ' "
			th:each="page: ${result.pageList}"><a th:class="'page-link ' + ${result.page == page?'active':''}" 
				th:href="@{/hello/communitylist(page=${page},
									type=${pageRequestDTO.type},
									keyword=${pageRequestDTO.keyword}
				)}">[[${page}]]</a>
				
				
			
			
			<li class="page-item" th:if="${result.next}">
				<a class="page-link" 
				th:href="@{/hello/communitylist(page=${result.end},
									type=${pageRequestDTO.type},
									keyword=${pageRequestDTO.keyword}
				)}">다음</a>
			</li>			
		</ul>

		
		
		</div>

        
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
<script th:inline="javascript">

			var searchForm = $("#searchForm");
			
			$('.btn-search').click(function(e){
				
				searchForm.submit();
			});
			
			$('.btn-clear').click(function(e){
				
				searchForm.empty().submit();
			});
			
			
</script>


</html>