<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/sign-up.css">

</head>

<body>
     <!-- [header] 영역 시작 -->
		<header th:replace="fragments/header :: headerFragment"></header>
	<!-- [header] 영역 끝 -->

    <!--중간 body-content-->
    <div class="body-content">
        <div class="content-box1">
        </div>
        <div class="content-box2"></div>
        <div class="content-box3"></div>
        <div class="content-box4"></div>
    </div>
    <!--메인바 공통-->
    <div class="bar">
        <div class="mainbar">
            <ul>
                <li class="media"><a href="/hello/communitylist"><img src="/img/1board.png" alt="" width="48px"
                            height="48px"></a></li>
                <li class="media"><a href="/hello/qnalist"><img src="/img/2Q&A.png" alt="" width="48px"
                            height="48px"></a>
                </li>
                <li class="media"><a href="/hello/noticelist"><img src="/img/4notice.png" alt="" width="48px"
                            height="48px"></a></li>
                <li class="media"><a href="/hello/myspace"><img src="/img/3my.png" alt="" width="48px"
                            height="48px"></a></li>
                <li><a href="/hello/point"><img src="/img/5point.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="/hello/message"><img src="/img/6message.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('http://localhost:8080/room','blank','width=450 , height=700, top=400, left=900', true)"><img
                            src="/img/7.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon8.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/8.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon9.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/9.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/10.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon11.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/11.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon12.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/12.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/13.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/14.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/15.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/16.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/17.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/18.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/19.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/20.png" alt="" width="48px" height="48px"></a></li>
                <li class="media"><a href=""><img src="/img/21.png" alt="" width="48px" height="48px"></a></li>
            </ul>
        </div>
    </div>
    <div id="modal_call">

    </div>
 
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script type="text/javascript" src="/js/ajax/login.js"></script> -->
</body>

</html>