<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/sign-up.css">

</head>

<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="/hello/index"><img src="/img/icon-ga9dcd7e34_640.png" alt="apple" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a id="open-point">포인트</a></li>
                <li><a href="#"
                        onclick="window.open('http://localhost:5001/','blank','width=450 , height=700, top=400, left=900', true)">채팅</a>
                </li>
            </ul>
        </nav>
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="/img/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="/img/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="/img/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login" th:href="@{/hello/login}" >로그인</a></li>
                <li><a id="open-signup" th:href="@{/hello/register}">회원가입</a></li>
            </ul>
        </nav>
    </div>

    <!--중간 body-content-->
    <div class="body-content">
        <div class="content-box1">
        </div>
        <div class="content-box2"></div>
        <div class="content-box3"></div>
        <div class="content-box4"></div>
    </div>
        <!-- <a id="open-login">로그인</a> -->
    <!--로그인-->
    <div class="login">
        <div class="login_overlay"></div>
        <div class="login_content">
            <button>X</button>
            <div class="login-wrapper">
                <h2>로그인</h2>
                <form method="post" th:action="@{/hello/login}" id="login-form">
                    <input type="text" name="userId" placeholder="USERNAME">
                    <input type="password" name="passwd" placeholder="PASSWORD">
                    <input type="submit" value="Login">
                </form> 
                <div th:if="${param.error}">아이디와 비밀번호를 확인해주세요.</div>
                <div th:if="${param.logout}">로그아웃 처리 되었습니다.</div>            
                <div class="login-api">       
                    <div class="kakaoimg"> <a href="/oauth2/authorization/kakao"><img src="/img/kakao.png" alt="" height="40px"></a></div>
                    <div class="googleimg"><img src="/img/google.png" alt="" height="40px"></div>
                </div>
                <div class="login-wrapper-bottom">
                    <ul>
                        <li><a id="open-signup">회원가입</a></li>
                        <li><a href="">비밀번호찾기</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--메인바 공통-->
    <div class="bar">
        <div class="mainbar">
            <ul>
                <li class="media"><a href="/hello/communitylist"><img src="/img/1board.png" alt="" width="48px"
                            height="48px"></a></li>
                <li class="media"><a href="/hello/qnalist"><img src="/img/2Q&A.png" alt="" width="48px"
                            height="48px"></a>
                </li>
                <li class="media"><a href="/hello/noticelist"><img src="/img/4notice.png" alt="" width="48px"
                            height="48px"></a></li>
                <li class="media"><a href="/hello/myspace"><img src="/img/3my.png" alt="" width="48px"
                            height="48px"></a></li>
                <li><a href="/hello/point"><img src="/img/5point.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="/hello/message"><img src="/img/6message.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon7.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/7.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon8.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/8.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon9.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/9.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/10.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon11.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/11.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon12.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/12.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/13.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/14.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/15.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/16.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/17.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/18.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/19.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/20.png" alt="" width="48px" height="48px"></a></li>
                <li class="media"><a href=""><img src="/img/21.png" alt="" width="48px" height="48px"></a></li>
            </ul>
        </div>
    </div>
    <div id="modal_call">

    </div>
    <script>

        function call_login() {
            $.ajax({
                type: "get",
                url: "/modal/log-in",
                dataType: "text",
                success: function (data) {
                    $("#modal_call").html('');
                    var str = data.split('<body>');
                    var str2 = str[1].split('</body>');
                    console.log(str2[0]);
                    $("#modal_call").html(str2[0]);
                }
            });
        }

        function call_sign_up() {
            $.ajax({
                type: "get",
                url: "/modal/sign-up",
                dataType: "text",
                success: function (data) {
                    $("#modal_call").html('');
                    var str = data.split('<body>');
                    var str2 = str[1].split('</body>');
                    console.log(str2[0]);
                    $("#modal_call").html(str2[0]);
                }
            });
        }

    </script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script type="text/javascript" src="/js/ajax/login.js"></script> -->
    <script>
        // const loginopenButton = document.getElementById("open-login");
        const loginmodal = document.querySelector(".login");
        const loginoverlay = loginmodal.querySelector(".login_overlay");
        const logincloseBtn = loginmodal.querySelector("button");
        // const loginopenModal = () => {
        //     loginmodal.classList.remove("aaa");
        // }
        const logincloseModal = () => {
            loginmodal.classList.add("aaa");
        }
        loginoverlay.addEventListener("click", logincloseModal);
        logincloseBtn.addEventListener("click", logincloseModal);
        
        
        // loginopenButton.addEventListener("click", loginopenModal);
    </script>
</body>

</html>
