<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쪽지함</title>
<link rel="stylesheet" href="/css/message.css">
</head>

<body>
	<div class="innerHeader">
		<h1 class="logo">
			<a href="/hello/index"><img src="/img/icon-ga9dcd7e34_640.png" alt="" width="30px" height="30px"></a>
		</h1>
		<!--왼쪽바 공통-->
		<nav class="mainmenu-left">
			<ul class="navbar">
				<li><a id="open-point">포인트</a></li>
				<li><a href="#" onclick="window.open('http://localhost:5001/','blank','width=450 , height=700, top=400, left=900', true)">채팅</a></li>
			</ul>
		</nav>
		<!--오른쪽바 공통-->
		<nav class="mainmenu-right">
			<ul class="navbar">
				<li><img src="/img/battery.png" alt="" width="30px" height="25px"></li>
				<li><img src="/img/wifi.png" alt="" width="20px" height="25px"></li>
				<li><img src="/img/siri.png" alt="" width="20px" height="25px"></li>
				<li sec:authorize="!isAuthenticated"><a id="open-login" th:href="@{/hello/login}">로그인</a></li>
				<li sec:authorize="!isAuthenticated"><a id="open-signup" th:href="@{/hello/register}">회원가입</a></li>
				<li sec:authorize="isAuthenticated" style="color: white"><a sec:authentication="name" th:href="@{/hello/myspace}">사용자이름</a></li>
				<li sec:authorize="isAuthenticated"><a id="open-login" th:href="@{/logout}">로그아웃</a></li>
			</ul>
		</nav>
	</div>
	<div class="content-body">
		<div class="content-header-box">
			<div class="content-body-left">
				<div class="content-body-left-header">
					<h1>쪽지</h1>
					<div class="main">
						<input id="tab1" type="radio" name="tabs" checked>
						<!--디폴트 메뉴-->
						<label for="tab1" id="post-label">보낸 내역</label> 
						<input id="tab2" type="radio" name="tabs"> 
						<label for="tab2">받은 내역</label>
						<section id="content1">
 						<div class="content-body-left-body" th:each="giveList:${giveMsg}">
								<div class="content-box">
								
										<div>
										
											<img th:if="${giveList.url == null}" src="/img/c1.png" alt="" width="30px" height="30px">
                							<img th:if="${giveList.url != null}" th:src="'/hello/display?fileName='+${giveList.url}" >
										</div>
										<div class="content-username" th:attr="data-message-num=${giveList.messageNum}" onclick="readMessage(this)">[[${giveList.nickname}]]</div> 
										
										<div class="content-time">[[${#temporals.format(giveList.regDate, 'yy/MM/dd HH:mm:ss')}]]</div>
										<div class="content-delete">
											 <button th:attr="data-message-num=${giveList.messageNum}, data-view-num=${giveList.view}" onclick="deleteMessage(this)">삭제</button>
										</div>
									
								</div>
							</div>
						
						</section>

						<!--세선 2-->
						<section id="content2">
							<div class="content-body-left-body" th:each="getList:${getMsg}">
								<div class="content-box">
									<div class="content-userimg">
										<img src="/img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px">
<!-- 										<img th:if="${member.url == null}" src="/img/c1.png" alt="" width="30px" height="30px"> -->
<!--                 						<img th:if="${member.url != null}" th:src="'/hello/display?fileName='+${member.url}|" > -->
									</div>
									<div class="content-username" th:attr="data-message-num=${getList.messageNum}" onclick="readMessage(this)">[[${getList.nickname}]]</div>
									<div class="content-time">[[${#temporals.format(getList.regDate, 'yy/MM/dd HH:mm:ss')}]]</div> <!-- [[${getList.regDate}]] -->
									<div class="content-delete">
										<button th:attr="data-message-num=${getList.messageNum}, data-view-num=${getList.view}" onclick="deleteMessage(this)">삭제</button>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			
			 <div class="content-body-right">
			 
           	 </div>
            
		</div>
	</div>


<!-- 	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	var selNickname;
	var msgNum;
	var yourNum;
	var myNum = /*[[${myInfo.memberNum}]]*/ {};
	
	 
		function readMessage(div){
			
			var messageNum = $(div).data('message-num');
			var data = {
					'messageNum': messageNum,
			}
			
			console.log(data);
			
			$.ajax({
				url : '/hello/message/read',
				type : 'POST',
				data : data,
				contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
				success : function(result){
					
					var readMsg = "";
					msgNum = result.messageNum;
					if(myNum == result.memberGet){
						yourNum = result.memberGive;
					}else {
						yourNum = result.memberGet;
					}
					
					
					
					readMsg += ' <div class="content-body-right-box"> '+
								' <h1>조회</h1> '+
								' <div class="box-top"> '+
								' <div class="user-title nick"><h2>닉네임</h2></div> '+
								' <div class="user-content">'+result.nickname+'</div> '+
								' </div> '+
								' <div class="box-top"> '+
								' <div class="user-title"><h2>제목</h2></div> '+
								' <div class="user-content">'+result.title+'</div> '+
								' </div> '+
								' <div class="box-bottom"> '+
								' <div class="user-title"><h2>내용</h2></div> '+
								' <div class="user-content"><textarea name="" id="" cols="40" rows="12" readonly>'+result.content+'</textarea></div> '+
								' </div> '+
								' </div> '+
								' <div class="button-box"> '+
								' <button onclick="registerMessage()">작성하기</button> '+
								' </div> '
	
					$(".content-body-right").html(readMsg);
					selNickname = result.nickname;	
				}
			});
		}
		
		

		function registerMessage(){
			var rdata = {
					'selNickname': selNickname
			}
			
			$(".content-body-right").html("");
			

			
			var registerMsg = "";
				console.log("1");
				registerMsg += ' <div class="content-body-right-box"> '+
								' <h1>작성</h1> '+
								' <div class="box-top"> '+
								' <div class="user-title"><h2>닉네임</h2></div> '+
								' <div class="user-content">'+rdata.selNickname+'</div> '+
								' </div> '+
								' <div class="box-top"> '+
								' <div class="user-title"><h2>제목</h2></div> '+
								' <div class="user-content"><input type="text" class="title-text"></div> '+
								' </div>'+
								' <div class="box-bottom"> '+
								' <div class="user-title"><h2>내용</h2></div> '+
								' <div class="user-content"><textarea name="" id="" cols="40" rows="12" class="content-text"></textarea></div> '+
								' </div> '+
								' </div> '+
								' <div class="button-box"> '+
								' <button type="button" class="registerBtn">전송하기</button> '+
								' </div> '
								console.log(registerMsg);
				console.log("2");
			$(".content-body-right").html(registerMsg);
				console.log("3");
		}
		
		
		$(".registerBtn").click(function(){ //전송 스크립트
			if(!confirm("전송하시겠습니까?")){ 
				return;
			}
			
			var rtitle = $(".title-text").val();
			var rcontent = $(".content-text").val();
			
			var regdata = {
					'title': rtitle,
					'content': rcontent,
					'messageNum' : msgNum,
					'yourNum' : yourNum
			}

			$.ajax({
				url : '/hello/message/register',
				type : 'POST',
				data : data,
				contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
				success : function(result){
					
				}
			});

		});
		
		
		function deleteMessage(button){
			
		    var messageNum = $(button).data('message-num');
		    var viewNum = $(button).data('view-num');
			var data = {
					'messageNum': messageNum,
					'view': viewNum
			}
				
			console.log(data);
				
			$.ajax({
				url : '/hello/message/delete',
				type : 'delete',
				data : data,
				contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
				success : function(result){
					if(result == "success"){
					location.reload();
					}
				}
			});
		}
	/*]]>*/
	</script> -->

</body>
</html>