<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/noticelist.css">
</head>

<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="/hello/index"><img src="/img/icon-ga9dcd7e34_640.png" alt="" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a id="open-point">포인트</a></li>
                <li><a href="#"
                        onclick="window.open('http://localhost:5001/','blank','width=450 , height=700, top=400, left=900', true)">채팅</a>
                </li>
            </ul>
        </nav>
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="/img/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="/img/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="/img/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login">로그인</a></li>
                <li><a id="open-signup">회원가입</a></li>
            </ul>
        </nav>
    </div>
    
    <!-- 게시판 상단 -->
    <div class="content-header">
        <div class="header-box">
            <div class="h1-box">
                <h1>notice</h1>
            </div>
            <div class="registration-box">
                <button id="registration" onclick="location.href='/hello/noticeregister' ">작성하기</button>
            </div>
            <div class="search-box">
                <div class="search">
                    <input type="text" placeholder="검색어 입력">
                    <button>검색</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end 게시판 상단 -->
    
    <div class="content-body">
        <div class="body-box">
        
    		<!-- 게시판 list -->
            <div th:each="dto : ${result.dtoList}" class="table-box">
                <div class="user-box">
                    <div class="name-box">
                        <h3>관리자 <small>[[${dto.id}]]</small></h3>
                    </div>
                </div>
                <div class="content-box">
                    <div class="top-box">
                        <h2><a href="/hello/noticeread">[[${dto.title}]]</a></h2>
                    </div>
                    <div class="bottom-box">
                        <div class="box1">추천수 : 120</div>
                        <div class="box2">조회수 : 22340</div>
                        <div class="box3">123412342134분전</div>
                        <div class="box4"><button>확인하기</button></div>
                    </div>
                </div>
            </div>
    		<!-- end 게시판 list -->
            
          
            <div class="page_wrap">
                <div class="page_nation">
                    <a class="arrow prev" href="#"></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a class="arrow next" href="#"></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>