<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/qnalist.css">
</head>

<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="/hello/index"><img src="/img/icon-ga9dcd7e34_640.png" alt="apple" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a id="open-point">포인트</a></li>
                <li><a href="#" onclick="window.open('http://localhost:5001/','blank','width=450 , height=700, top=400, left=900', true)">채팅</a></li>
            </ul>
        </nav>
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="/img/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="/img/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="/img/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login">로그인</a></li>
                <li><a id="open-signup">회원가입</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-header">
        <div class="content-header-box">
            <h1>Q&A</h1>
            <div class="search">
                <select name="search-option">
                    <option value="">선택</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="titlecontent">제목+내용</option>
                    <option value="category">카테고리</option>
                </select>
                <input type="text" maxlength="225"> <i id="keyboard" class="fa fa-keyboard-o"></i>
                <button>검색
                </button>
            </div>
            <button id="registration" onclick="location.href='/hello/qnaregister' ">작성하기</button>
        </div>
    </div>
    
    <!-- 게시판 list -->
    <div class="content-body">
        <div th:each="dto : ${result.dtoList}" class="board">
            <div class="board-top">
                <div class="board-title">
                <a th:href="@{/hello/qnaread(boardNum=${dto.boardNum},
                               page=${result.page},
                               type=${pageRequestDTO.type},
							   keyword=${pageRequestDTO.keyword}
                               )}">[[${dto.title}]]
                        <h2>확인가능</h2>
                    </a></div>
                <div class="board-view">[[${dto.views}]] 회</div>
                <div class="board-time">5분전</div>
            </div>
            <div class="board-text">
                <p>[[${dto.content}]]</p>
            </div>
        </div>
 
  
        <!-- end 게시판 list -->
        
        
        
        <div class="page_wrap">
		<ul class=" page_nation">
			<li class="arrow prev" th:if="${result.prev}">
				<a class="page-link" 
					th:href="@{/hello/qnalist(page=${result.start-1},
									type=${pageRequestDTO.type},
									keyword=${pageRequestDTO.keyword}
					)}" tabindex="-1">이전</a>
			</li>
			<li th:class="'page-item ' "
			th:each="page: ${result.pageList}"><a th:class="'page-link ' + ${result.page == page?'active':''}" 
				th:href="@{/hello/qnalist(page=${page},
									type=${pageRequestDTO.type},
									keyword=${pageRequestDTO.keyword}
				)}">[[${page}]]</a>
				
				
			
			
			<li class="page-item" th:if="${result.next}">
				<a class="page-link" 
				th:href="@{/hello/qnalist(page=${result.end},
									type=${pageRequestDTO.type},
									keyword=${pageRequestDTO.keyword}
				)}">다음</a>
			</li>			
		</ul>
		</div>
        
        
    </div>
</body>

</html>