<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/qnaread.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script th:src="@{/js/jquery/jquery.min.js}"></script>
</head>

<body>
    <!-- [header] 영역 시작 -->
		<header th:replace="fragments/header :: headerFragment"></header>
	<!-- [header] 영역 끝 -->
    <div class="content-header">
        <div class="content-header-box">
            <h1>Q&A</h1>
        </div>
    </div>
    <div class="content-body">
        <div class="box-top">
            <div class="box-left">
                <div class="userimg">
                    <img src="/img/userimg.png" alt="" width="40px" height="40px">
                </div>
                
           
                
                <!-- 유저id -->
                <div class="username">
                    <p>[[${dto.nickname}]] <small>[[${dto.id}]]</small></p>
                </div>
                
                <!-- tag -->
                <div class="category">
                    <p>[[${dto.tag}]]</p>
                </div>
            </div>
            <div class="box-right">
                <div class="urlimg"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="shareimg"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="recommendation"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="notrecommendation"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="report"><img src="/img/userimg.png" alt="" width="30px" height="30px"></div>
            </div>
        </div>
        <div class="box-title">
            <div>
            	<!-- title -->
                <div class="box-left">
                    <div class="title">
                        <h2>[[${dto.title}]]</h2>
                    </div>
                </div>
                <!-- 수정&삭제 버튼 -->
                <div class="box-right">
	                <!-- 수정버튼 -->
                    <div class="modify-button">
                    	<a th:href="@{/hello/qnamodify(boardNum=${dto.boardNum}, page=${requestDTO.page},
									type=${requestDTO.type},
									keyword=${requestDTO.keyword}	)}">
                        	<button type="button">수정</button>
						</a>
                    </div>
                    
                    <!-- 삭제버튼 -->
<!--                     <div class="delete-button">
                    	<a th:href="@{/hello/communitymodify(boardNum=${dto.boardNum}, page=${requestDTO.page},
									type=${requestDTO.type},
									keyword=${requestDTO.keyword}	)}">
                        	<button type="button">삭제</button>
                        </a>
                    </div> -->
                </div>
                
            </div>
        </div>
        
        <!-- 내용 -->
        <div class="box-content">
            <div>
                <p>[[${dto.content}]]</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="content-comments">
        <div class="box-top">
        
        	<!-- 댓글 cnt -->
            <div class="box-left">
                <p>댓글 수 : [[${dto.cnt}]]개</p>
            </div>
            
            <!-- list 이동 버튼 -->
            <div class="box-button">
                <div><button>이전</button></div>
                <div><button type="button" class="listBtn">목록</button></div>
                <div><button>다음</button></div>
            </div>
        </div>
        
        <!-- 댓글 쓰기 -->
       
        <form>
	        <input type="hidden" name="page" th:value="${requestDTO.page}">
			<input type="hidden" name="type" th:value="${requestDTO.type}">
			<input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
        <div class="box-write">
            <div class="box-write-top">
                <div class="box-left">
                    <div class="userimg">
                        <img src="/img/userimg.png" alt="" width="40px" height="40px">
                    </div>
                    <!-- 유저 -->
                    <div class="username">
                        <p>[[${member.nickname}]]  <small>[[${member.id}]]</small></p>
                        <input type="hidden" name="commenterNum" th:value="${member.memberNum}">
                    </div>
                </div>
                <div class="box-right">
                    <div>
                    	<button type="button" class="commentSaveBnt">댓글 쓰기</button>
                    </div>
                </div>
            </div>
            <div class="box-write-bottom">
            	<!-- 댓글 입력란 -->
                <div class="comment-box">
                    <p><textarea cols="150" rows="5" name="commentContent"></textarea></p>
                </div>
            	<!-- end 댓글 입력란 -->
            </div>
        </div>
        </form>
        <!-- end 댓글 쓰기 -->
        
        <!-- 댓글 -->
        <div class="commentList"></div>
        <!-- end 댓글 -->
        
    </div>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
</body>

<script th:inline="javascript">
$(document).ready(function(){
	
	const boardNum = [[${dto.boardNum}]];
	
	
	function getComment(){
		$.getJSON('/comment/'+ boardNum + "/all", function(arr){
			let str = "";
			
			$.each(arr, function(idx,comment){
				console.log(comment);
				str += ' <div class="box-comments-list" data-boardCommentNum="'+ comment.boardCommentNum + '">'; 
				str += ' <div class="box-write-top"> ';
				str += ' <div class="box-left"> ';
				str += ' <div class="userimg"><img src="/img/userimg.png" alt="" width="40px" height="40px"></div> ';
				str += ' <div class="username">'+comment.nickname+' <small> '+ comment.id +'</small> <small class="commentUpdateDate">'+ displayTime(comment.regdate) + ' </small></div></div></div> ';
				str += ' <div class="box-write-bottom"> ';
				str += ' <div class="comment-box">'+ comment.commentContent +'</div></div> ';
				str += ' <div class="box-button"></div> ';
				str += ' </div></div> ';
				
				
			})
			
			$(".commentList").html(str);
		})
	}
	
	getComment();
	
	
	
		var actionForm = $("form");
			$(".listBtn").click(function(){
				var pageInfo = $("input[name='page']");
				var type=$("input[name='page']");
				var keyword=$("input[name='keyword']");
				
				actionForm.empty();
				actionForm.append(pageInfo);
				actionForm.append(type);
				actionForm.append(keyword);
				actionForm.attr("action", "/hello/qnalist")
							.attr("method", "GET");
				
				actionForm.submit();
			});
			
			
			
			$(".commentSaveBnt").click(function(){
				
				var comment = {
						boardNum: boardNum,
						commentContent: $('textarea[name="commentContent"]').val(),
						commenterNum: $('input[name="commenterNum"]').val()}
				console.log(comment);
				
				$.ajax({
					url: '/comment/' + boardNum,
					type: 'post',
					data: JSON.stringify(comment),
					contentType: "application/json; charset=utf-8",
					dataType: 'text' ,
					success: function(result){
						console.log("success result : " + result);
						self.location.reload();
						alert("댓글이 등록되었습니다.");
						getComment();
					}
				}); // ajax 끝
			}); //commentSaveBnt 끝
			
			
		    function displayTime(timeValue){
		        var today = new Date(); // 현재 시간
		        var date = new Date(timeValue).getTime();
		        var gap = today.getTime() - date;
		        var dateObj = new Date(timeValue);
		        var str = "";
		        
		        
		        console.log(date);
		        console.log(today.getTime());
		        console.log(gap);
		        
		        
		        
		        if(gap<(1000*60*60*24)){
		        	
		        	// comment 시간
		            var hh = dateObj.getHours();
		            var mi = dateObj.getMinutes();
		            var ss = dateObj.getSeconds();
		            
		            // 현재 시간
		            var rhh = today.getHours();
		            var rmi = today.getMinutes();
		            var rss = today.getSeconds();
		            
		            // 표시 예) 1시간 전 or 10분 전
		            
		            if(rhh > hh){
		            	return [ (rhh - hh>9?'':'0')+ rhh - hh, '시간 전'].join('');
		            }else{
		            	
		            	return [ (rmi - mi>9?'':'0')+rmi-mi, '분 전'].join('');
		            }
		            

		        }else{
		            var yy = dateObj.getFullYear();
		            var mm = dateObj.getMonth()+1;
		            var dd = dateObj.getDate();
		            
		            return [yy, '/', (mm>9?'':'0')+mm, '/',
		                (dd>9?'':'0')+dd].join('');
		        }
		    }
			
});	
	</script>



</html>