<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/sign-up.css">

</head>

<body>
    <!-- [header] 영역 시작 -->
		<header th:replace="fragments/header :: headerFragment"></header>
	<!-- [header] 영역 끝 -->

    <!--중간 body-content-->
    <div class="body-content">
        <div class="content-box1">
        </div>
        <div class="content-box2"></div>
        <div class="content-box3"></div>
        <div class="content-box4"></div>
    </div>
        <!-- <a id="open-login">로그인</a> -->
    	 <!-- Modal -->
   <div id="myModal" class="mymodal">
    <div id="mymodal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>회원 가입</h2>
            </div>
            <div class="modal-body">
                <form name="signup-form" id="signup-form" th:action="@{/hello/register}" method="post">
                <input type="hidden" name="purview" value="false">
                    <div class="form-group">
                        <label for="user_id">
                            아이디
                        </label>
                        <div class="input-box">                   
                            <input type="text" name="id" class="idtest" id="user_id" />                
                            <button type='button' id="idChk" onclick="fn_idChk();">중복확인</button>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user_pw">
                            비밀번호
                        </label>
                        <div class="input-box">
                            <input type="password" name="pw" id="user_pw" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user_pw">
                            비밀번호 확인
                        </label>
                        <div class="input-box">
                            <input type="password" name="pw_re" id="user_pw_re" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user_name">
                            이름
                        </label>
                        <div class="input-box">
                            <input type="text" name="name" id="user_name" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user_name">
                            닉네임
                        </label>
                        <div class="input-box">
                            <input type="text" name="nickname" class="nickname" id="user_nick" />
                            <button type='button' id="nickChk" onclick="fn_nickChk();">중복 확인</button>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">
                            이메일
                        </label>
                        <div class="input-box">
                            <input type="text" name="email" id="email" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="form-button">
                            <button type="submit" id="submit">가입하기</button>
                            <button type="reset">다시 작성</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <!--메인바 공통-->
    <div class="bar">
        <div class="mainbar">
            <ul>
                <li class="media"><a href="/hello/communitylist"><img src="/img/1board.png" alt="" width="48px"
                            height="48px"></a></li>
                <li class="media"><a href="/hello/qnalist"><img src="/img/2Q&A.png" alt="" width="48px"
                            height="48px"></a>
                </li>
                <li class="media"><a href="/hello/noticelist"><img src="/img/4notice.png" alt="" width="48px"
                            height="48px"></a></li>
                <li class="media"><a href="/hello/myspace"><img src="/img/3my.png" alt="" width="48px"
                            height="48px"></a></li>
                <li><a href="/hello/point"><img src="/img/5point.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="/hello/message"><img src="/img/6message.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon7.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/7.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon8.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/8.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon9.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/9.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/10.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon11.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/11.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""
                        onclick="window.open('/icon.html/icon12.html','blank','width=250 , height=400, top=200, left=700', true)"><img
                            src="/img/12.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/13.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/14.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/15.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/16.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/17.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/18.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/19.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="/img/20.png" alt="" width="48px" height="48px"></a></li>
                <li class="media"><a href=""><img src="/img/21.png" alt="" width="48px" height="48px"></a></li>
            </ul>
        </div>
    </div>
   
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">

        $(".close").on("click", function(){
        	$("#myModal").hide();
        });
    </script>
    <script type="text/javascript">
		
	function fn_idChk(){
    var id = $("#user_id").val();

    $.ajax({
    	url: '/hello/register/'+id,
        type: 'POST',
        data: JSON.stringify(id),
        contentType: "application/json; charset=utf-8",
        dataType: 'text',
        success: function (result) {
            if(result == 1){
                alert('아이디가 중복입니다.');
            }else{
                alert('사용가능한 아이디 입니다.');
            }
        }
    })
	};
	
	function fn_nickChk(){
	    var nick = $("#user_nick").val();

	    $.ajax({
	    	url: '/hello/register/chk/'+nick,
	        type: 'POST',
	        data: JSON.stringify(nick),
	        contentType: "application/json; charset=utf-8",
	        dataType: 'text',
	        success: function (result) {
	            if(result == 1){
	                alert('닉네임이 중복입니다.');
	            }else{
	                alert('사용가능한 닉네임입니다.');
	            }
	        }
	    })
		};

	</script>
   

</body>

</html>