<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/iconcss/tetris.css">
<body onresize="parent.resizeTo(450,650)" onload="parent.resizeTo(450,650)">
    <div class="wrapper">
        <div class="game-text">게임종료<button>다시시작</button></div>
        <div class="score">0</div>
        <div class="playground">
            <ul></ul>
        </div>
    </div>
    <script src="/js/ajax/tetris.js" type="module"></script>
</body>
</html>